#divEvent{
    border:1.5px solid black;
    border-radius: 15px;
    width: 60%;
    padding: 20px;
    margin:auto;
}


#divTable{
    width: 80%;
    margin:auto;
}

#divTime{
    width: 80%;
    margin:auto;
    border-radius: 15px;
}